.container {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
  }
  
  .form-container {
    min-width: 400px;
    width: 900px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    //overflow: auto;
  }

  h5{
    font-size: large;
    color: slategrey;
    font-weight: bold;
  }
  
  .ha-title {
    text-align: center;
    //  margin-bottom: 20px;
  }

  .form-container {
    overflow: hidden;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  // .form-section {
  //   margin-bottom: 20px;
  // }
  
  // .ha-form .p-field {
  //   margin-bottom: 20px;
  // }
  
  .ha-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ha-input {
    width: 100%;
  }
  
  .p-table {
    margin-top: 15px !important;
    overflow-x: auto; /* Permitir desplazamiento horizontal si los datos son anchos */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    // margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    p-button{
      margin: 2px !important
    }
  }


  .button-container_head {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    p-button{
      margin: 2px !important
    }
  }

  .p-icon-field .p-input-icon {
          margin-top: -10rem !important;
      }
  //   .ha-button {
  //     width: 100%;
  //     margin-top: 20px;
  //   }
  
  @media screen and (max-width: 750px) {
    .button-container {
      justify-content: center;
    }

    .form-container {
      min-width: 250px;
      width: 400px;
      padding: 20px 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
      overflow: auto;
    }

    .caja_reporte_contratos {
      display: block !important;
      .fecha {
        margin-bottom: 12px;
      }
    }

    ::ng-deep .p-calendar {
      width: 20rem !important;
    }
  }

  ::ng-deep .p-calendar .ui-datepicker {
    z-index: 9999 !important; /* Asegúrate de que sea muy alto */
  }


  
  .pi-plus::before{
    margin-right: 15px !important;
  }
  
  
  .ha-p-button {
    margin: 0px !important;
    padding: 0px !important;
  }
  
  .pi {
    margin-right: 5px !important;
  }
  
  
  .p-field-group {
    display: flex;
    // flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea en pantallas más pequeñas */
    //margin-bottom: 0.5rem;
  }
  
  .p-field {
    // flex: 1 1 40%; /* El campo de código ocupa el 40% del ancho */
    margin-right: 10px; /* Ajusta el espacio entre los campos */
  }
  
  #descripcion {
    flex: 1 1 calc(60% - 10px); /* El campo de descripción ocupa el resto del espacio (60% - 10px de margen) */
  }
  
  
  /*estilo para botones de la tabla */
  
  .ha-button {
    background-color: transparent; // Hacer el fondo transparente
    border: none; // Eliminar el borde
    padding: 0; // Eliminar el relleno
    margin-right: 5px;
  }
  
  .ha-edit-button .pi {
    color: green; // Color del icono de editar
    margin: 0 !important;
  }
  
  .ha-delete-button .pi {
    color: red; // Color del icono de eliminar
    margin: 0 !important;
  }
  
  
  .ha-p-table-content{
    padding: 10px !important;
  }

  :host ::ng-deep .p-dropdown {
    width: 100%;
  }

  ::ng-deep .p-datatable-thead {
    font-size: 11px !important;
    text-align: center;
  }

  .p-datatable-thead {
    font-size: 11px !important;
    text-align: center;
  }

  ::ng-deep .p-element .p-datatable-tbody{
    font-size: 10px !important;
  }

  .right-aligned-column {
    text-align: right;
  }

  .text-right {
    text-align: right;
  }


  .p-dropdown {
    width: 100% !important;
    max-width: 250px; /* Define un ancho máximo */
  }
  
  .p-dropdown .p-dropdown-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .p-field {
    flex: 1;
    min-width: 0; // opcional, para evitar que se encojan mucho
  }

  .p-field-group {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem; // espacio entre campos
  }

  .p-field .p-calendar,
  .p-field .p-dropdown {
    width: 100%;
  }
