<div class="row">
    <div class="col-12">
        <h2 class="text-primary border-bottom pb-1">Directiva ngClass</h2>
    </div>
    <div class="col-12">
        <div class="d-flex flex-wrap justify-center-content justify-content-mt-start">
            <ng-container *ngFor="let card of cards;">
                <div 
                    [ngClass]="{
                    'ha-card' : true,
                    'ha-card-primary': card.isPrimary,
                    'ha-card-secondary': !card.isPrimary,
                    'ha-card-disabled': card.isDisabled
                    }">
                    <div class="ha-card__title">
                        <h2>{{card.title}}</h2>
                    </div>
                    <div class="ha-card__body">
                        {{card.body || 'Lorem Ipsum Lorem Ipsum Lorem ipsum dolor'}}
                    </div>
                    <div class="ha-card__actions">
                        <p-button severity="primary" label="Cambiar Color" (onClick)="changeStatusCard(card)"></p-button>
                        <p-button severity="dark" label="{{card.isDisabled ? 'Habilitar': 'Deshabilitar'}}" (onClick)="disabledCard(card)"></p-button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>