<div class="container">
    <div class="form-container">
      <h2 class="ha-title">Componentes</h2>
      <hr>

      <form [formGroup]="formularioComponentes" class="ha-form">
        <div>
          <div class="button-container">
            <!-- Botón para mostrar el formulario -->
            <p-button severity="primary" label="Agregar" icon="pi pi-plus" (click)="mostrarFormulario()"></p-button>
            <!-- Agrega otros botones aquí si es necesario -->
          </div>
        
          <!-- <div *ngIf="formularioVisible"> -->
          <div [@formularioAnimacion]="formularioVisible ? 'visible' : 'oculto'">
            <hr>
            <h4>Ingresar Componente</h4>
            <div class="p-field-group">
                <div class="p-field" style="flex: 0 0 50%;">
                    <label for="codcomponente" class="ha-label">Código</label>
                    <input id="codcomponente" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="codcomponente" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off">
                </div>
                <div class="p-field" style="flex: 1;">
                        <div class="p-field">
                            <label for="tipocomponente" class="ha-label">Tipo Componente</label>
                            <p-dropdown 
                                id="tipocomponente" 
                                [options]="tiposcomponentes" 
                                optionLabel="descripcion" 
                                class='ha-pdropdown'
                                placeholder="Seleccione un tipo de componente" 
                                formControlName="selectedTipComp"
                                [autoDisplayFirst]="false"
                            />
                        </div>
                </div>
            </div>
            <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 50%;">
                <label for="marca" class="ha-label">Marca</label>
                <input id="marca" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="marca" 
                        class="p-inputtext ha-input" 
                        required autocomplete="off">
              </div>
              <div class="p-field" style="flex: 1;">
                <label for="modelo" class="ha-label">Modelo</label>
                <input id="modelo" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="modelo" 
                        class="p-inputtext ha-input" 
                        required autocomplete="off">
              </div>
            </div>
            <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 50%;">
                <label for="numeroserie" class="ha-label">Numero Serie</label>
                <input id="numeroserie" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="numeroserie" 
                        class="p-inputtext ha-input" 
                        required autocomplete="off">
              </div>
              <div class="p-field" style="flex: 1;">
                    <div class="p-field">
                        <label for="estados" class="ha-label">Estado</label>
                        <p-dropdown 
                        id="estados" 
                        [options]="estados" 
                        optionLabel="descripcion" 
                        class='ha-pdropdown'
                        placeholder="Seleccione un estado" 
                        formControlName="selectedEstado"
                        [autoDisplayFirst]="false"
                        />
                    </div>
                </div>
            </div>
            <div class="button-container" style="margin: 0px;">
              <!-- Botón para guardar -->
              <p-button severity="success" label="Guardar" icon="pi pi-save" (click)="guardarComponente()"></p-button>
              <!-- Botón para cancelar -->
              <p-button severity="danger" label="Cancelar" icon="pi pi-times" (click)="ocultarFormulario()"></p-button>
              <!-- Agrega otros botones aquí si es necesario -->
            </div>
            <hr>
          </div>
        </div>
        

        <div class="p-table">
            
          <!-- <h4>Lista de Estados</h4> -->
          <!-- <div class="button-container"> -->
            <!-- Botón para mostrar los datos en JSON -->
            <!-- <p-button severity="primary" label="Agregar" icon="pi pi-plus"></p-button> -->
            <!-- Agrega otros botones aquí si es necesario -->
          <!-- </div> -->
          <p-table 
            #tbComponentes
            [globalFilterFields]="['componenteid', 'codcomponente', 'tipocomponenteid', 'tip_comp_descripcion',
                                    'marca', 'modelo', 'numeroserie', 'estadoid', 'estado_descripcion', 'cod_estado'
                                    ]"
            [value]="componentes" 
            dataKey="componenteid"
            [paginator]="true" 
            [rows]="5"
            >
            <ng-template pTemplate="caption">
              <p-iconField iconPosition="left">
                    <p-inputIcon class="input-icon">
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        (input)="applyFilterGlobal($event)" 
                        (keydown.enter)="$event.preventDefault()" 
                        placeholder="Buscar" 
                        class="input-text p-inputtext"/>
                </p-iconField>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th pSortableColumn="componenteid">ID <p-sortIcon field="componenteid"></p-sortIcon></th> -->
                    <th pSortableColumn="codcomponente">Código<p-sortIcon field="codcomponente"></p-sortIcon></th>
                    <!-- <th pSortableColumn="tipocomponenteid">TIPO COMPONENTE ID<p-sortIcon field="tipocomponenteid"></p-sortIcon></th> -->
                    <th pSortableColumn="tip_comp_descripcion">TipoComp <p-sortIcon field="tip_comp_descripcion"></p-sortIcon></th>
                    <th pSortableColumn="marca">Marca<p-sortIcon field="marca"></p-sortIcon></th>
                    <th pSortableColumn="modelo">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
                    <th pSortableColumn="numeroserie">Num. Seire<p-sortIcon field="numeroserie"></p-sortIcon></th>
                    <th pSortableColumn="cod_estado">Estado<p-sortIcon field="cod_estado"></p-sortIcon></th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-componente>
                <tr>
                    <!-- <td>{{ usuario.usuarioid }}</td> -->
                    <td>{{ componente.codcomponente }}</td>
                    <td>{{ componente.componente }}</td>
                    <td>{{ componente.marca }}</td>
                    <td>{{ componente.modelo }}</td>
                    <td>{{ componente.numeroserie }}</td>
                    <td>{{ componente.cod_estado }}</td>
                    <td>
                        <button (click)="editaComponente(componente)" class="ha-button ha-edit-button">
                            <i class="pi pi-pencil"></i>
                        </button>
                        <button (click)="eliminarComponente(componente)" class="ha-button ha-delete-button">
                            <i class="pi pi-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No se encontraron componentes.</td>
                </tr>
            </ng-template>
        </p-table>


  
        </div>
        <!-- Contenedor para alinear el botón a la derecha -->
        <!-- <div class="button-container"> -->
          <!-- Botón para mostrar los datos en JSON -->
          <!-- <p-button severity="success" label="Guardar" icon="pi pi-save"></p-button> -->
          <!-- Agrega otros botones aquí si es necesario -->
        <!-- </div> -->
      </form>
    </div>
  </div>
  