<div class="container">
    <div class="form-container">
        <h5 class="ha-title">Usuarios</h5>
        <hr>

      <form [formGroup]="formularioUsuarios" class="ha-form">
        <div>
          <div class="button-container_head">
            <!-- Botón para mostrar el formulario -->
            <p-button severity="primary" label="Agregar" icon="pi pi-plus" (click)="mostrarFormulario()"></p-button>
            <p-button severity="primary" label="Buscar" icon="pi pi-search" (click)="mostrarFormulario2()"></p-button>
            <!-- Agrega otros botones aquí si es necesario -->
          </div>

          <hr>

          <div *ngIf="formularioVisible2" [@formularioAnimacion]>
            
          </div>
        
          <div *ngIf="formularioVisible" [@formularioAnimacion]>

            <div class="p-field-group">
                <div class="p-field" style="flex: 0 0 35%;">
                    <input id="cedula_search" 
                      (keyup.enter)="usuarioByCed()"
                      (keydown.enter)="$event.preventDefault()" 
                      type="text" 
                      formControlName="cedula_search" 
                      class="p-inputtext ha-input" 
                      required 
                      autocomplete="off"
                      maxlength="10"
                      pattern="[0-9]*"
                      placeholder="Cédula a buscar">
                </div>
                <div class="button-container" style="margin: 0px;">
                  <!-- Botón para Buscar -->
                  <p-button severity="primary" label="" icon="pi pi-search" (click)="usuarioByCed()"></p-button>
                  <!-- Botón para cancelar -->
                  <!-- <p-button severity="danger" label="" icon="pi pi-times" (click)="ocultarFormulario2()"></p-button>
                  <p-button severity="success" label="" icon="pi pi-list" (click)="obtenerClientes()"></p-button> -->
                  <!-- Agrega otros botones aquí si es necesario -->
                </div>
              </div>
              <hr style="margin-bottom: 1.5rem; margin-top: -0.5rem !important;">
              <!-- Dropdown de Roles falta poner esta linea  -->
            <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 33%;">
                <input #usernameInput
                        id="username"
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="username" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="Usuario"
                        >
              </div>
              <div class="p-field" style="flex: 0 0 33%;">
                <input id="password"
                        (keydown.enter)="$event.preventDefault()" 
                        type="password" 
                        formControlName="password" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="Contraseña"
                        >
              </div >
              <div class="p-field" style="flex: 1;">
                <input id="personId" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="text" 
                        formControlName="personId" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="ID"
                        readonly> 
              </div>
            </div>
            <!-- <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 33%;">
                  <p-multiSelect  
                    id="roles" 
                    [options]="roles"
                    optionLabel="ROLE_NAME" 
                    placeholder="Seleccione un rol" 
                    formControlName="roleid"
                    [showClear]="true"
                  />
              </div>
            </div> -->
            <hr style="margin-bottom: 1.5rem; margin-top: -0.5rem !important;">
            <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 35%;">
                  <input id="cedula" 
                          (keydown.enter)="$event.preventDefault()" 
                          type="text" 
                          formControlName="cedula" 
                          class="p-inputtext ha-input" 
                          required 
                          autocomplete="off"
                          maxlength="10"
                          pattern="[0-9]*"
                          placeholder="Cédula"
                          readonly
                        > 
              </div>
              <div class="p-field" style="flex: 1;">
                  <input id="nombre" 
                          (keydown.enter)="$event.preventDefault()" 
                          type="text" 
                          formControlName="nombre" 
                          class="p-inputtext ha-input" 
                          required autocomplete="off"
                          placeholder="Nombre"
                          readonly>
              </div>
            </div>
            <div class="p-field-group">
              <div class="p-field" style="flex: 0 0 50%;">
                  <input id="departamento"
                          (keydown.enter)="$event.preventDefault()" 
                          type="text" 
                          formControlName="departamento" 
                          class="p-inputtext ha-input" 
                          required 
                          autocomplete="off"
                          placeholder="Departamento"
                          readonly>
              </div>
              <div class="p-field" style="flex: 1;">
                  <input id="cargo" 
                          (keydown.enter)="$event.preventDefault()" 
                          type="text" 
                          formControlName="cargo" 
                          class="p-inputtext ha-input" 
                          required 
                          autocomplete="off"
                          placeholder="Cargo"
                          readonly>
              </div>
            </div>
            <!-- <div class="p-field-group">
              <div class="p-field" style="flex: 1;">
                  <input id="direccion" 
                          (keydown.enter)="$event.preventDefault()" 
                          type="text" 
                          formControlName="direccion" 
                          class="p-inputtext ha-input" 
                          required autocomplete="off"
                          placeholder="Dirección">
              </div>
            </div> -->
            
            <div class="button-container" style="margin: 0px;">
              <!-- Botón para guardar -->
              <p-button severity="success" label="Guardar" icon="pi pi-save" (click)="guardarUsuario()"></p-button>
              <!-- Botón para cancelar -->
              <p-button severity="danger" label="Cancelar" icon="pi pi-times" (click)="ocultarFormulario()"></p-button>
              <!-- Agrega otros botones aquí si es necesario -->
            </div>
            <hr>
          </div>
          <div *ngIf="formularioVisible2" [@formularioAnimacion]>
              <div class="p-table">
                  
                <p-table 
                  #tbUsuarios
                  [globalFilterFields]="['USERNAME', 'FULL_NAME', 'ROLES.ROLE_NAME', 'PERSON_ID']"
                  [value]="usuarios" 
                  dataKey="usuarioid"
                  styleClass="p-datatable-striped" 
                  [paginator]="true" 
                  [rows]="4">
                  <ng-template pTemplate="caption">
                    <p-iconField iconPosition="left">
                          <p-inputIcon class="input-icon">
                              <i class="pi pi-search"></i>
                          </p-inputIcon>
                          <input 
                              pInputText 
                              type="text" 
                              (input)="applyFilterGlobal($event)" 
                              (keydown.enter)="$event.preventDefault()" 
                              placeholder="Buscar en tabla" 
                              class="input-text p-inputtext"/>
                      </p-iconField>
                  </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="USERNAME">Username <p-sortIcon field="USERNAME"></p-sortIcon></th>
                          <th pSortableColumn="FULL_NAME">Nombre Completo <p-sortIcon field="FULL_NAME"></p-sortIcon></th>
                          <th pSortableColumn="ROLES.ROLE_NAME">Roles <p-sortIcon field="ROLES.ROLE_NAME"></p-sortIcon></th>
                          <th pSortableColumn="PERSON_ID">PersonID <p-sortIcon field="PERSON_ID"></p-sortIcon></th>
                          <!-- <th>Acciones</th> -->
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-usuario>
                      <tr>

                          <td>{{ usuario.USERNAME }}</td>
                          <td>{{ usuario.FULL_NAME }}</td>
                          <td>
                            <ul>
                              <li *ngFor="let role of usuario.ROLES">{{ role.ROLE_NAME }}</li>
                            </ul>
                          </td>
                          <td>{{ usuario.PERSON_ID }}</td>
                          <!-- <td>{{ usuario.nombre }}</td>
                          <td>{{ usuario.direccion }}</td>
                          <td>{{ usuario.telefono }}</td>
                          <td>{{ usuario.email}}</td> -->
                          <!-- <td>
                              <button (click)="editarUsuario(usuario)" class="ha-button ha-edit-button">
                                  <i class="pi pi-pencil"></i>
                              </button>
                              <button (click)="eliminarUsuario(usuario)" class="ha-button ha-delete-button">
                                  <i class="pi pi-trash"></i>
                              </button>
                          </td> -->
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="5">No se encontraron usuarios.</td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>



    
          </div>
        </div>
      </form>
    </div>
  </div>
  