<!-- <div class="ha-footer">
    Creado por HA-Dev ©
</div> -->

<!-- <h6 class="ha-footer__text">Leo HA-Dev</h6> -->
<h6 class="ha-footer__text">GADM La Libertad © {{ currentYear }}. <span class="derechos">Todos los derechos reservados.</span></h6>
<!-- <div class="ha-footer__socials"> -->
    <!-- <fa-icon [icon]="faYoutube" class="ha-footer__socials-social"></fa-icon>
    <fa-icon [icon]="faFacebook" class="ha-footer__socials-social"></fa-icon>
    <i class="pi pi-facebook"></i>
    <fa-icon [icon]="faTwitter" class="ha-footer__socials-social"></fa-icon>
    <i class="pi pi-times"></i> -->

    <!-- <i class="fab fa-youtube ha-footer__socials-social"></i>
    <i class="fab fa-facebook ha-footer__socials-social"></i>
    <i class="fab fa-twitter ha-footer__socials-social"></i> -->
<!-- </div> -->
<!-- <div class="ha-footer__text">|  </div> -->