//@import 'primeng/resources/themes/saga-blue/theme.css'; // Puedes elegir otro tema si lo deseas
//@import 'primeng/resources/primeng.min.css';
.ha-error{
    width: 200px;
    margin: 2rem 0rem;
    padding:0.5rem;
    border-radius: 5px;
    color: white;
}

button{
    margin-right: 15px;
}