<div class="container">
    <div class="form-container">
        <h5 class="ha-title">Cambiar contraseña</h5>
        <hr>

      <form [formGroup]="formularioPassword" class="ha-form">
        <div>

       
            <div *ngIf="formularioVisible" [@formularioAnimacion]>

                <div class="p-field-group">
                    <div class="p-field" style="flex: 0 0 40%;">
                        <label for="oldPassword" class="ha-label">Contraseña actual</label>
                        <input id="oldPassword" 
                        (keydown.enter)="$event.preventDefault()" 
                        type="password" 
                        formControlName="oldPassword" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="Contraseña actual">
                    </div>
                </div>
                <!-- <hr style="margin-bottom: 1.5rem; margin-top: -0.5rem !important;"> -->
                <!-- Dropdown de Roles falta poner esta linea  -->
                <div class="p-field-group">
                    <div class="p-field" style="flex: 0 0 40%;">
                        <label for="newPassword" class="ha-label">Nueva contraseña</label>
                        <input id="newPassword" 
                        (keydown.enter)="$event.preventDefault()" 
                        (keydown)="checkCapsLock1($event)"
                        (keyup)="checkCapsLock1($event)"
                        type="password" 
                        formControlName="newPassword" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="Nueva Contraseña">
                        <small *ngIf="capsLockOn1" class="text-danger d-block mt-1">
                        ¡Bloq Mayús está activado!
                        </small>
                    </div>
                </div>
                <!-- <hr style="margin-bottom: 1.5rem; margin-top: -0.5rem !important;"> -->
                <div class="p-field-group">
                    <div class="p-field" style="flex: 0 0 40%;">
                        <label for="repNewPassword" class="ha-label">Repita contraseña</label>
                        <input id="repNewPassword" 
                        (keydown.enter)="$event.preventDefault()" 
                        (keydown)="checkCapsLock2($event)"
                        (keyup)="checkCapsLock2($event)"
                        type="password" 
                        formControlName="repNewPassword" 
                        class="p-inputtext ha-input" 
                        required 
                        autocomplete="off"
                        placeholder="Nueva Contraseña">
                        <small *ngIf="capsLockOn2" class="text-danger d-block mt-1">
                        ¡Bloq Mayús está activado!
                        </small>
                    </div>
                </div>
                
                <div class="button-container" style="margin: 0px;">
                    <!-- Botón para guardar -->
                    <p-button severity="success" label="Cambiar" icon="pi pi-save" (click)="cambiarContrasenia()"></p-button>
                    <!-- Botón para cancelar -->
                    <p-button severity="danger" label="Cancelar" icon="pi pi-times" (click)="ocultarFormulario()"></p-button>
                    <!-- Agrega otros botones aquí si es necesario -->
                </div>
                <hr>
            </div>
        </div>
      </form>
    </div>
  </div>
  