.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; // Evitar que el formulario quede pegado a los bordes
}

.form-container {
    min-width: 300px; // Ancho mínimo para dispositivos pequeños
    max-width: 850px; // Ancho máximo
    width: 50%; // Ocupará el 100% del contenedor padre
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: auto;
}

.ha-title {
    font-size: 1.2rem;
    color: slategrey;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; // Separación del título con el resto del contenido
}

.ha-form .p-field {
    margin-bottom: 20px;
}

.ha-label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

.ha-input {
    width: 100%; // El input ocupa todo el ancho disponible
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px; // Espacio entre botones
    margin-top: 20px;
}

.p-field-group {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se envuelvan en pantallas pequeñas
    justify-content: space-between; // Distribuir uniformemente los campos
    gap: 10px; // Espacio entre los campos
}

.p-field {
    flex: 1 1 48%; // Los campos ocupan el 48% del ancho del contenedor
    min-width: 100%; // En pantallas pequeñas, los campos ocupan el 100%
}

@media screen and (max-width: 750px) {
    .form-container {
        padding: 20px; // Reducir padding en pantallas pequeñas
    }

    .p-field-group {
        flex-direction: column; // Los campos se alinean en columna
    }

    .p-field {
        flex: 1 1 100%; // Campos ocupan el 100% del ancho en pantallas pequeñas
    }

    .button-container {
        justify-content: center; // Centrar botones en pantallas pequeñas
    }
}
